# Ignore Python cache files
__pycache__/
*.pyc

# Ignore the executable if it's too large for GitHub
*.exe

# Ignore environment folders if any
env/
venv/

# Ignore OS-specific files
.DS_Store
Thumbs.db
